<div class="comex-modal">
  <div class="modal-input">
    <button class="btn btn-dark" title="Configurar Etiquetas" (click)="open(modal);"><i class="fas fa-cog"></i> Configurar Etiquetas</button>
  </div>
  <ng-template #modal let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Maestro de Etiquetas</h4>
    </div>
    <div class="modal-body">
      <div class="comex-form mb-2">
        <form [formGroup]="etiquetaForm" novalidate (keydown.enter)="$event.preventDefault()">
          <div class="row container-title">
            <div class="col-sm-6 title">
              <label class="title-line"></label>Etiqueta
            </div>
            <div class="col-sm-6 mt-2 mt-sm-0 d-flex justify-content-end">
              <button class="btn btn-outline-info" (click)="crearFormulario()" aria-hidden="false">Limpiar</button>
              <button class="btn btn-info" (click)="guardarEtiqueta()" aria-hidden="false">Guardar</button>
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-sm-6">
              <div class="form-group">
                <label class="form-control-label">Nombre <span class="required-asterisk">*</span></label>
                <input type="text" class="form-control" formControlName="nombre" placeholder="Nombre">
                <div *ngIf="etiquetaForm.controls['nombre'].invalid && etiquetaForm.controls['nombre'].touched">
                  <div *ngIf="etiquetaForm.controls['nombre'].errors.required" class="invalid-feedback">Este campo es requerido</div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label class="form-control-label">Nombre Ingl&eacute;s <span class="required-asterisk">*</span></label>
                <input type="text" class="form-control" formControlName="nombreIngles" placeholder="Nombre Inglés">
                <div *ngIf="etiquetaForm.controls['nombreIngles'].invalid && etiquetaForm.controls['nombreIngles'].touched">
                  <div *ngIf="etiquetaForm.controls['nombreIngles'].errors.required" class="invalid-feedback">Este campo es requerido</div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="row mb-2">
        <div class="col-caasa-filtro col-sm-6 col-lg-4">
          <div class="form-group">
            <label class="control-label">Buscar</label>
            <input type="text" class="form-control" placeholder="Buscar etiqueta" [(ngModel)]="buscar"/>
          </div>
        </div>
        <div class="col-sm-4 col-lg-1 text-center text-sm-left">
          <div class="form-group">
            <br/>
            <button class="btn btn-primary ml-auto" (click)="consultar()">Buscar</button>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-12">
              <p-table [value]="items" responsiveLayout="scroll" tableStyleClass="table table-bordered comex-table"
                  [rows]="5" [showCurrentPageReport]="true" [loading]="loadingData"
                  [paginator]="true" currentPageReportTemplate="Se encontraron {totalRecords} registros">
                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th>Nombre</th>
                    <th>Nombre Inglés</th>
                    <th style="min-width: 100px; width: 100px;">Acciones</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                  <tr>
                    <td style="text-align: left !important;">{{ item.nombre }}</td>
                    <td style="text-align: left !important;">{{ item.nombreIngles }}</td>
                    <td>
                      <div class="tc-actions">
                        <button class="btn btn-outline-warning"(click)="editarEtiqueta(item)" title="Editar Etiqueta"><i class="fas fa-edit"></i></button>
                        <button class="btn btn-outline-danger"(click)="eliminarEtiqueta(item)" title="Eliminar Etiqueta"><i class="fas fa-trash"></i></button>
                      </div>
                    </td>
                  </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                  <tr><td colspan="3">No se encontraron registros.</td></tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <label style="float: left;" class="required-field"><span class="required-asterisk">*</span> Campos Obligatorios</label>
      <button type="button" style="float: right !important;" class="btn btn-primary" (click)="onClose(); modal.close();">Cerrar</button>
    </div>
  </ng-template>
</div>
