<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <div class="row container-title">
          <div class="col-sm-6 title">
            <label class="title-line"></label>Pedido Firme
          </div>
          <div class="col-sm-6 mt-2 mt-sm-0 d-sm-flex text-center justify-content-sm-end">
            <button class="btn btn-success" (click)="descargar()"><li class="pi pi-file-excel"></li> Descargar</button>
            <button class="btn btn-primary" *ngIf="!esPerfilFechaDisponibilidad" (click)="irACrear()">Nuevo Pedido Firme</button>
          </div>
        </div>
        <div class="row row-filter">
          <div class="col-caasa-filtro col-sm-6 col-lg-4">
            <div class="form-group">
              <label class="control-label">Código</label>
              <app-input-chip
                maxItems="5"
                [(ngModel)]="filtro.pedidos"
                (selectedItems)="seleccionarCodigos($event)"
                [style]="{'width': '100%'}">
              </app-input-chip>
            </div>
          </div>
          <div class="col-caasa-filtro col-sm-6 col-lg-4">
            <div class="form-group">
              <label class="control-label">Cliente</label>
              <app-modal-clientes-multiple
                placeholder="Buscar clientes"
                [(ngModel)]="filtroClientes"
                (itemChange)="seleccionarClientes($event)"
              ></app-modal-clientes-multiple>
            </div>
          </div>
          <div class="col-caasa-filtro col-sm-6 col-lg-4">
            <div class="form-group">
              <label class="control-label">Fecha Pedido Firme</label>
              <div class="comex-group-date">
                <input type="date" class="form-control" [(ngModel)]="filtro.fechaPedidoFirmeInicio"/>
                <label>-</label>
                <input type="date" class="form-control" [(ngModel)]="filtro.fechaPedidoFirmeFin"/>
              </div>
            </div>
          </div>
          <div class="col-caasa-filtro col-sm-6 col-lg-4">
            <div class="form-group">
              <label class="control-label">Codición Pago</label>
              <p-multiSelect
                [options]="pagos"
                defaultLabel="Todos"
                [(ngModel)]="filtro.pagos"
                optionLabel="descripcionLarga"
                optionValue="id"
                [displaySelectedLabel]="displaySelectedLabel"
                [maxSelectedLabels]="maxSelectedLabels"
                [selectedItemsLabel]="selectedItemsLabel"
                [style]="{'width': '100%'}">
              </p-multiSelect>
            </div>
          </div>
          <div class="col-caasa-filtro col-sm-6 col-lg-4">
            <div class="form-group">
              <label class="control-label">Incoterm SAP</label>
              <p-multiSelect
                [options]="incoterms"
                defaultLabel="Todos"
                [(ngModel)]="filtro.incoterms"
                optionLabel="descripcionLarga"
                optionValue="id"
                [displaySelectedLabel]="displaySelectedLabel"
                [maxSelectedLabels]="maxSelectedLabels"
                [selectedItemsLabel]="selectedItemsLabel"
                [style]="{'width': '100%'}">
              </p-multiSelect>
            </div>
          </div>
          <div class="col-caasa-filtro col-sm-6 col-md-4 col-lg-3">
            <div class="form-group">
              <label class="control-label">Estado</label>
              <p-multiSelect
                [options]="estados"
                defaultLabel="Todos"
                [(ngModel)]="filtro.documentos"
                optionLabel="descripcionLarga"
                optionValue="id"
                [displaySelectedLabel]="displaySelectedLabel"
                [maxSelectedLabels]="maxSelectedLabels"
                [selectedItemsLabel]="selectedItemsLabel"
                [style]="{'width': '100%'}">
              </p-multiSelect>
            </div>
          </div>
          <div class="col-sm-4 col-md-2 col-lg-1 text-center text-sm-left">
            <div class="form-group">
              <br/>
              <button class="btn btn-primary ml-auto" (click)="consultar()" >B&uacute;squeda</button>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row container-title">
          <div class="col-sm-6 title">
            <label class="title-line"></label>Lista de Pedidos Firme
          </div>
        </div>
        <div class="table-responsive">
          <p-table [value]="listado" responsiveLayout="scroll" tableStyleClass="table table-bordered comex-table"
              [rows]="10" [showCurrentPageReport]="true" [loading]="false"
              [paginator]="true" currentPageReportTemplate="En total existen {totalRecords} pedidos">
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th style="min-width:110px">C&oacute;digo</th>
                <th style="min-width:100px">C&oacute;digo Cliente</th>
                <th style="min-width:260px">Raz&oacute;n Social</th>
                <th style="min-width:100px">Fecha Pedido Firme</th>
                <th style="min-width:260px">Destino Mercanc&iacute;a</th>
                <th style="min-width:120px">Despacho</th>
                <th style="min-width:120px">Incoterm SAP</th>
                <th style="min-width:120px">Incoterm Comercial</th>
                <!--<th style="min-width:120px">Puerto Origen</th>
                <th style="min-width:120px">Puerto Destino</th>
                <th style="min-width:120px">Tipo Transporte</th>

                <th style="min-width:120px">Condici&oacute;n Pago</th>
                <th style="min-width:100px">Fecha Lista Precio</th>
                <th style="min-width:120px">Lista Precio</th>
                <th style="min-width:120px">Ruta</th>
                <th style="min-width:120px">Moneda</th>-->
                <th style="min-width:110px">Estado</th>
                <th>Acciones</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
              <tr>
                <td>{{ item.codigoPedido }}</td>
                <td>{{ item.codigoCliente }}</td>
                <td>{{ item.nombreCliente == null || item.nombreCliente == "" ? item.nombreCliente2 : item.nombreCliente }}</td>
                <td>{{ item.fechaSolicitud | date: 'dd/MM/yyyy' }}</td>
                <td>{{ item.nombreDestinatario }}</td>
                <td>{{ item.nombreDespacho }}</td>
                <td>{{ item.nombreIncoterm }}</td>
                <td>{{ item.nombreIncotermComercial }}</td>
                <!--<td>{{ item.nombrePuertoOrigen }}</td>
                <td>{{ item.nombrePuertoDestino }}</td>
                <td>{{ item.nombreTipoTransporte }}</td>
                <td>{{ item.nombreCondicionPago }}</td>
                <td>{{ item.fechaListaPrecio | date: 'dd/MM/yyyy' }}</td>
                <td>{{ item.nombreListaPrecio }}</td>
                <td>{{ item.nombreRuta }}</td>
                <td>{{ item.nombreMoneda }}</td>-->
                <td>
                  <span class="badge badge-success" *ngIf="item.idEstadoDocumento == 6">Confirmado</span>
                  <span class="badge badge-warning" *ngIf="item.idEstadoDocumento == 5">Inicial</span>
                  <span class="badge badge-danger" *ngIf="item.idEstadoDocumento == 51">Anulado</span>
                </td>
                <td>
                  <div class="tc-actions">
                    <button class="btn btn-outline-primary" (click)="mostrarModal(modalCopiarDocumento, item)" title="Copiar Pedido Firme"><i class="fas fa-copy"></i></button>
                    <button class="btn btn-outline-warning"(click)="irAEditar(item)" title="Editar Pedido Firme"><i class="fas fa-edit"></i></button>
                    <button class="btn btn-outline-danger" (click)="mostrarModal(modalDeleteCotizacion, item)"><i class="fas fa-trash"></i></button>
                  </div>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <tr>
                <td colspan="17">No se encontraron pedidos.</td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #modalDeleteCotizacion let-modalDeleteCot>
  <div class="modal-header">
    <h4 class="modal-title">Anular Documento {{selectedPedidoFirme.codigoPedido}}</h4>
  </div>
  <div class="modal-body">
    <p>¿Desea anular el documento {{selectedPedidoFirme.codigoPedido}}?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="anular()">Sí</button>
    <button type="button" class="btn btn-outline-danger" (click)="modalDeleteCot.close()">No</button>
  </div>
</ng-template>

<ng-template #modalCopiarDocumento let-modalCopiarDocumento>
  <div class="modal-header">
    <h4 class="modal-title">Copiar Documento {{selectedPedidoFirme.codigoPedido}}</h4>
  </div>
  <div class="modal-body">
    <form>
      <div class="row">
        <div class="col-12">
          <label class="form-control-label">Ingresar número de documento<span class="required-asterisk">*</span></label>
          <input type="text" class="form-control text-uppercase" placeholder="PER.XXX.XX" [(ngModel)]="nuevoCodigoPedidoFirme" [ngModelOptions]="{standalone: true}">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="copiarDocumento()">Aceptar</button>
    <button type="button" class="btn btn-outline-danger" (click)="modalCopiarDocumento.close()">Cancelar</button>
  </div>
</ng-template>

<p-toast position="top-right" [baseZIndex]="9000" autoZIndex="false"></p-toast>

<router-outlet></router-outlet>
