.comex-container-chip {
  display: inline-block;
  align-items: center;
  height: fit-content;

  .chips {
    display: contents;

    .chip {
      padding: 2px 6px;
      background-color: #0a44a6;
      color: white;
      border-radius: 15px;
      margin-right: 2px;
      display: inline-flex;
      margin-bottom: 2px;

      .text {
        color: white;
        font-weight: normal !important;
        margin: 0px !important;
        font-size: 10px !important;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      i {
        margin-left: 4px;
        margin-top: 1px;
      }
    }
  }

  .chip-input {
    border: none;
    width: 100%;
  }
}


