<div class="contenido-loader">
  <div class="u-loading">
    <div class="u-loading__symbol">
      <img src="assets/img/images/logomenuleft.png" style="width: 5rem;">
    </div>
      <div class="loading loading01 text-center" style="margin-left: -19px;">
      <span class="color-azul-oscuro"><strong>P</strong></span>
      <span class="color-azul-oscuro"><strong>o</strong></span>
      <span class="color-azul-oscuro"><strong>r</strong></span>
      <span class="color-azul-oscuro mr-2"><strong> </strong></span>
      <span class="color-azul-oscuro"><strong>f</strong></span>
      <span class="color-azul-oscuro"><strong>a</strong></span>
      <span class="color-azul-oscuro"><strong>v</strong></span>
      <span class="color-azul-oscuro"><strong>o</strong></span>
      <span class="color-azul-oscuro mr-2"><strong>r</strong></span>
      <span class="color-azul-oscuro"><strong>e</strong></span>
      <span class="color-azul-oscuro"><strong>s</strong></span>
      <span class="color-azul-oscuro"><strong>p</strong></span>
      <span class="color-azul-oscuro"><strong>e</strong></span>
      <span class="color-azul-oscuro"><strong>r</strong></span>
      <span class="color-azul-oscuro"><strong>e</strong></span>
    </div>
  </div>
</div>