.marco-confirmar {
  padding: 20px;
  border: 1px solid #A0A8AF;
  margin-bottom: 15px;
}
.marco-confirmar label {
  color: #000F20;
  padding: 15px;
  font-size: 16px !important;
  font-weight: normal !important;
}
.marco-confirmar div {
  border-top: 1px solid #A0A8AF;
}
