.icon-caasa{
    width: 43px !important;
    height: 43px;
    background-size: 38px;
    background-repeat: no-repeat;
  }
  .icon-cohete{
    background-image: url('~/assets/images/menu/register.svg');
  }
  .icon-lupa{
    background-image: url('~/assets/images/menu/consult.svg');
  }
  .icon-portafolio{
    background-image: url('~/assets/images/menu/portafolio.svg');
  }
  .icon-inicio{
    background-image: url('~/assets/images/menu/home.svg');
  }