.filter {
  margin-bottom: 5px;
}
.comex-table tbody > tr input[type=checkbox] {
  vertical-align: middle;
}
.modal-footer {
  text-align: right;
}
.modal-input .codigo {
  width: 95px;
  border: none !important;
  flex: 1;
}
