html, body {
 	margin: 0;
	padding: 0;
	width: 19cm;
}
body {
	font-family: Arial, sans-serif;
	color: #202020;
	font-size: 8px;
}
p {
	margin: 0 0 5px 0;
	padding: 0;
}
div.header {
	width: 19cm;
	display: block;
	position: running(header);
}
div.footer {
	width: 19cm;
	display: block;
	font-size: 8px;
	position: running(footer);
}
div.body {
	margin: 0px;
	width: 19cm;
}
table {
	width: 100%;
	font-size: 8px;
	border-spacing: 0;
}

table tr th, table tr td {
	padding: 8px 5px;
	/*border: 1px solid;*/
}
table.detalle tr th:first-child, table.detalle tr td:first-child {
	width: 100px;
}
table.posiciones tr th, table.posiciones tr td {
	padding: 8px 5px;
	border-top: 1px solid;
	border-bottom: 1px solid;
}

.text-left {
	text-align: left !important;
}
.text-right {
	text-align: right !important;
}
.text-center {
	text-align: center !important;
}
.p-0 {
	padding: 0 !important;
}
.row {
	display: flex;
}
.col-2 {
	width: 50%;
}
.col-6 {
	width: 50%;
}
.row-noborder td {
	border: none;
}
.bl {
	border-left: 1px solid !important;
}
.br {
	border-right: 1px solid !important;
}
.line {
	border-bottom: 2px solid;
}
.firma {
	height: 60px;
	padding: 10px;
	text-align: center;
	align-items: center;
}
.firma .line {
	margin-top: 35px;
	margin-bottom: 5px;
	width: 100%;
	height: 5px;
}
.line label {
	color: #fff;
}

@page{

	@bottom-right {                 
        content: element(footer);
        vertical-align: top;
        /*border: solid red;*/
    }
    
    @top-right {
        content: element(header);
        vertical-align: bottom;
		/*border: solid red;*/
    }

    size: A4 portrait;
    margin-top:2.5cm;
    margin-left:1cm; 
    margin-right:1cm; 
    margin-bottom:1cm; 
}

@media print {
    .footer {
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    .header {
        position: fixed;
        top: 0;
        width: 100%;
    }
}