<div class="comex-modal">
  <div class="modal-input">
    <div class="form-control input" [ngClass]="disabled ? 'disabled' : ''">
      <label class="placeholder" *ngIf="item == null">{{ placeholder }}</label>
      <label class="description" *ngIf="item != null" [title]="item.descripcionLarga">{{ item.descripcionLarga }}</label>
      <i class="pi pi-times clear" *ngIf="item != null" (click)="clear()"></i>
      <i class="pi pi-window-maximize" (click)="open(modal)"></i>
    </div>
  </div>
  <ng-template #modal let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Lista de Puertos</h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-12">
          <div class="row">
            <div class="col-sm-6"></div>
            <div class="col-sm-6">
              <input class="form-control filter" type="text" [(ngModel)]="filter" (input)="onChangeFilter()" placeholder="Buscar código sap, ruc o razón social" />
            </div>

            <div class="col-12">
                <p-table [value]="listItems" responsiveLayout="scroll" tableStyleClass="table table-bordered comex-table"
                    [rows]="10" [showCurrentPageReport]="true" [loading]="loadingData"
                    [paginator]="true" currentPageReportTemplate="Se encontraron {totalRecords} registros">
                  <ng-template pTemplate="header" let-columns>
                    <tr>
                      <th style="min-width: 30px;width: 30px;"><!--<input type="checkbox" name="selectAll"/>--></th>
                      <th style="min-width: 120px; width: 120px;">C&oacute;digo SAP</th>
                      <th>Descripci&oacute;n</th>
                      <th style="min-width: 30px; width: 30px;">C&oacute;digo Pa&iacute;s</th>
                      <th style="min-width: 120px; width: 120px;">Pa&iacute;s</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-item>
                    <tr>
                      <td><input type="checkbox" name="selectItem" [(ngModel)]="item.checked" (change)="onChangeItem(item)"/></td>
                      <td>{{ item.codigo }}</td>
                      <td style="text-align: left !important;">{{ item.descripcion }}</td>
                      <td>{{ item.codigoPais }}</td>
                      <td>{{ item.descripcionPais }}</td>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="emptymessage">
                    <tr><td colspan="5">No se encontraron registros.</td></tr>
                  </ng-template>
                </p-table>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div style="float: left;">Inicialmente se mostrarán los 50 primeros registros</div>
      <button type="button" class="btn btn-outline-danger" (click)="modal.close()">Cancelar</button>
      <button type="button" class="btn btn-primary" (click)="onSelect(); modal.close();">Seleccionar</button>
    </div>
  </ng-template>
</div>
