<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.caasa.comexsap.exportaciones.model.persistence.extended.ServicioExtendedMapper">
	<resultMap id="servicioMap" type="com.caasa.comexsap.exportaciones.model.to.ServicioTO">
		<id column="ID" jdbcType="NUMERIC" property="id" />
	    <result column="IDMONEDA" jdbcType="NUMERIC" property="idMoneda" />
	    <result column="IDTIPOTRANSPORTE" jdbcType="NUMERIC" property="idTipoTransporte" />
	    <result column="IDDESPACHO" jdbcType="NUMERIC" property="idDespacho" />
	    <result column="UNIDAD" jdbcType="VARCHAR" property="unidad" />
	    <result column="MONEDA" jdbcType="VARCHAR" property="moneda" />
	    <result column="CODIGOMONEDA" jdbcType="VARCHAR" property="codigoMoneda" />
	    <result column="TIPOTRANSPORTE" jdbcType="VARCHAR" property="tipoTransporte" />
	    <result column="DESPACHO" jdbcType="VARCHAR" property="despacho" />
	    <result column="CONCEPTO" jdbcType="VARCHAR" property="concepto" />
	    <result column="DESCRIPCION" jdbcType="VARCHAR" property="descripcion" />
	    <result column="PRECIO" jdbcType="NUMERIC" property="precio" />
	    <result column="ESTADO" jdbcType="NUMERIC" property="estado" />	    
	</resultMap>
	
	<sql id="Base_Column_List">
	    ID,
		IDMONEDA,
		IDTIPOTRANSPORTE,
		IDDESPACHO,
		UNIDAD,
		MONEDA,
		CODIGOMONEDA,
		TIPOTRANSPORTE,
		DESPACHO,
		CONCEPTO,
		DESCRIPCION,
		PRECIO,
		USUARIOCREACION,
		FECHACREACION,
		USUARIOMODIFICACION,
		FECHAMODIFICACION,
		ESTADO
	</sql> 
  
	<select id="listarServicioxFiltro" resultMap="servicioMap" parameterType="String">	  
		SELECT 
		<include refid="Base_Column_List" />
		FROM COMEXSVI_SERVICIO_01
		WHERE ID IS NOT NULL
		<if test="buscar != null">
			AND ( 
				UPPER(CONCEPTO) LIKE '%' || UPPER(#{buscar}) || '%'
			)
		</if>
		<if test="transportes != null and transportes.length > 0">
			AND IDTIPOTRANSPORTE IN 
			<foreach collection="transportes" item="item" open="(" close=")" separator=",">
			 #{item}
			</foreach>	
		</if>
		<if test="despachos != null and despachos.length > 0">
			AND IDDESPACHO IN 
			<foreach collection="despachos" item="item" open="(" close=")" separator=",">
			 #{item}
			</foreach>	
		</if>
		ORDER BY FECHACREACION DESC
	 </select>
	<select id="obtenerServicioxId" resultMap="servicioMap" parameterType="int">	  
		SELECT 
		<include refid="Base_Column_List" />
		FROM 
		COMEXSVI_SERVICIO_01
		WHERE ID = #{idServicio}
		AND ROWNUM <![CDATA[ <= ]]> 1
	</select>
	<update id="eliminarServicio" parameterType="java.util.Map">
		UPDATE COMEXST_SERVICIO
		SET SERVN_ESTADO = 0 , SERVD_FECHAMODIFICACION = sysdate , SERVV_USUARIOMODIFICACION =#{usuario}
		WHERE SERVN_ID = #{idServicio}
	</update> 
</mapper>